
body{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
div {
    background-color: blue;
    color: yellow;
    border: 5px red solid;
    margin: auto;
    padding: 50px;
    
}

div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}
    
div >  div {
    background-color: black;
    color: white;
    border: 5px red solid;
    margin: auto;
    padding: 25px;
    
}
div>div>div{
    background-color: orange;
    color:black;
    border: 5px red solid;
    margin: auto;
    padding: 25px;
    
}